@model HeroesViewModel
@{

}
@if (!Model.HasError)
{
    <div class="row heroes-list">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                @foreach (var item in Model.Heroes)
                {
                    <a class="list-group-item list-group-item-action" id="list-@item.Name-list" data-toggle="list" href="#list-@item.Name" role="tab" aria-controls="@item.Name">@item.Name</a>
                }
            </div>
        </div>
        <div class="col-8">
            <div id="heroe-content">
                <div class="tab-content" id="nav-tabContent">
                    @foreach (var item in Model.Heroes)
                    {

                        <div class="tab-pane fade" id="list-@item.Name" role="tabpanel" aria-labelledby="list-@item.Name-list">
                            <div class="row">
                                <div id="heroe-info" class="col-6">
                                    <img class="heroe-img" src="@item.Picture" title="@item.Name" alt="Heroe @item.Name" />
                                    <p class="text-bold">Name: </p>
                                    <p>@item.Name</p>
                                    <hr />
                                    <p class="text-bold">Age: </p>
                                    <p> @item.Age</p>
                                    <hr />
                                    <p class="text-bold">City: </p>
                                    <p>@item.City</p>
                                </div>
                                <div id="heroe-ratings" class="col-6">
                                    <h3>Ratings:</h3>
                                    <p>
                                        Score : @String.Format("{0:0.0}", item.Score) out of 5
                                    </p>
                                    <div class="score-history">
                                        <h4>History:</h4>
                                        @foreach (var rating in item.Ratings)
                                        {
                                            <p class="d-inline">
                                                @rating.RatingBy :
                                                <div title="@rating.Stars stars" style="display: inline">
                                                    @for (int i = 0; i < rating.Stars; i++)
                                                    {
                                                        <span class="score-stars">★</span>
                                                    }
                                                </div>
                                                
                                            </p>
                                        }   
                                    </div>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>

}
else
{
    <div class="row text-center">
        Currently there are no data to display. Try again later, please.
    </div>
}
